<div *ngIf="patient" class="form-group">
    <div><h3>Add income, householdsize and insurance details to check elgiblity</h3></div>
    <label for="recordID">Record ID:</label>
    <input type="text" class="form-control" id="recordID" [(ngModel)]= "patient.recordID" required name="recordID">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]= "patient.name" name="name">
    <label for="address">Address:</label>
    <input type="text" class="form-control" id="address" [(ngModel)]= "patient.address" name="address">
    <label for="income">Income:</label>
    <input type="text" class="form-control" id="income" [(ngModel)]= "patient.income" name="income">
    <label for="houseHoldSize">House Hold Size:</label>
    <input type="text" class="form-control" id="houseHoldSize" [(ngModel)]= "patient.houseHoldSize" name="houseHoldSize">
    <label for="insurance">Insurance Status (Check the below box if patient has valid insurance):</label>
    <div><input type="checkbox"  id="insurance" [(ngModel)]= "patient.insurance" name="insurance"></div>
    <label for="eligiblity">Eligibilty Status:</label>
    <input type="text" class="form-control" id="eligiblity" [(ngModel)]= "patient.elgibility" name="eligiblity">
    <br>
    <button type="submit" (click)="check(patient, patient.income, patient.houseHoldSize)">Check Elgiblity</button>
    <button type="submit" (click)="show()" style="margin-left: 10px;">Rules</button>
    <button type="submit" (click)="reset(patient)" style="margin-left: 10px;">Refresh</button>
</div>

<app-rules [Valid]="valid"></app-rules>

